sudo: required
language: cpp
dist: trusty
compiler:
  - clang
  - gcc
before_script:
  - sudo add-apt-repository --yes ppa:beineri/opt-qt59-trusty
  - sudo apt-get update -qq
  - sudo apt-get install qt59base qtbase5-dev libqt5opengl5-dev libopenscenegraph-dev
script:
  - source /opt/qt59/bin/qt59-env.sh
  - mkdir build
  - cd build
  - cmake ..
  - make
